:root {
  --primery-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --dack-color: #2e2f42;
  --color-green: #31d0aa;
  --color-text: #434455;
  --color-light-slate: #8e8f99;
  --color-acent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-white-background: #ffffff;
  --color-dairy: #fcfcfc;
  --card-set-gap: 20px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--color-text);
  background-color: var(--color-white-background);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

 {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid red;
  background-color: greenyellow;
}
.section {
  padding-top: 0px;
  padding-bottom: 0px;
}
/**------------------------------HEADER---------------------------*/
.header {
  background: blueviolet;
}
.heder-navigation {
  display: flex;
  padding-bottom: 0px;
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-iris);
}

.header-web {
  color: var(--dack-color);
}
.header-list {
  display: flex;
  color: var(--dack-color);
}
.header-list li {
  outline: 1px solid red;
  background-color: #4aefc8;
}
.header-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dack-color);
}
.header-list .header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-list .header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link:hover,
.header-link:focus {
  color: var(--color-ocean);
}
.header-contacts {
  font-style: normal;
}
.header-contacts-list {
  display: flex;
}
.header-contacts-list .header-contacts-item + .header-contacts-item {
  margin-left: 40px;
}

.list {
}
.header-contacts-item {
}
.header-address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.header-address-link:hover,
.header-address-link:focus {
  color: var(--color-ocean);
}

/**------------------ Hero----------------------- */
.hero {
  background-color: var(--dack-color);
  text-align: center;
  margin-top: 0;
}
.hero > .hero-title {
}
.hero-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: var(--dack-color);
  padding-top: 188px;
  margin-bottom: 48px;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: flex-start;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;

  margin-top: 0;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-ocean);
}
.btn {
  display: inline-block;
  border-radius: 4px;
  padding: 16px 32px;
  margin-bottom: 188px;
  min-width: 169px;
  flex-direction: row;
  gap: 10px;
}
.hero-title .btn {
  padding-bottom: 188px;
}
/**------------------------------Advantages--------------------*/

.advantages {
  margin-top: 0;
  margin-bottom: 0;
  background-color: rosybrown;
}
.hidden-title {
}
.advantages-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.advantages-item {
  flex-basis: calc(100% / 4 - 20px);
  margin: 0 auto;
  gap: 24px;
}
.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dack-color);
  margin-top: 120px;
  margin-bottom: 8px;
}
.advantages-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  margin-bottom: 120px;
}

/**------------------------------Work--------------------*/

.work {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: coral;
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dack-color);
  margin-bottom: 120px;
  margin-top: 0px;
  padding-top: 120px;
}
.work-list {
  display: flex;

  justify-content: center;
  gap: 24px;
  padding-bottom: 120px;
}
.work-item {
}

/**------------------------------Team--------------------*/
.team {
  background-color: var(--color-light);
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: gold;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dack-color);
  padding-top: 120px;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-item {
  background-color: var(--color-white-background);
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dack-color);

  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-text);
  margin-bottom: 64px;
}
/**------------------------------FOOTER--------------------*/
.footer-section {
  background-color: var(--dack-color);
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-iris);
  margin-bottom: 16px;
  margin-bottom: 150px;
}
.footer-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-light);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-light);
  padding-bottom: 100px;
}
.footer-logo .link {
  padding-top: 100px;
}

/**------------------------------Products-----------------------------*/
.products {
}
.products-list {
  margin-bottom: 120px;
}
.list {
}
.products-item {
}
.products-link {
}
.link {
}
.products-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dack-color);
}
.products-descriptions {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

/**----------------------------NAVIBUTTON-------------------------*/
.navibutton {
  background: skyblue;
  margin-bottom: 0;
}

.list {
}
.menu-item {
}
.menu-btn-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;

  letter-spacing: 0.04em;
  background-color: var(--color-light);
  color: var(--primery-iris);
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: 1px solid var(--color-acent);
}
.menu-btn-text:hover,
.menu-btn-text:focus {
  color: var(--color-white-background);
  background-color: var(--color-ocean);
}

.menu-list-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-top: 96px;
  margin-top: 0px;
  margin-bottom: 72px;
}

.products-list {
  display: flex;

  flex-wrap: wrap;
  gap: 24px;

  flex-basis: calc(100% / 9);
  margin-top: 0;
  margin-bottom: 0;
}
.products-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dack-color);
  margin-bottom: 8px;
  margin-top: 32px;
  margin-left: 16px;
}
.products-descriptions {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  margin-bottom: 32px;
  margin-left: 16px;
}
/**-----------------------------------portfolioheader-----------------------------------*/
.section-portfolio {
  margin-bottom: 0px;
}
